@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@font-face {
  font-family: "Aktiv Grotesk";
  src: url("//db.onlinewebfonts.com/t/a59a10fc173a405262ecba082980066e.eot");
  src: url("//db.onlinewebfonts.com/t/a59a10fc173a405262ecba082980066e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a59a10fc173a405262ecba082980066e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/a59a10fc173a405262ecba082980066e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/a59a10fc173a405262ecba082980066e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/a59a10fc173a405262ecba082980066e.svg#Aktiv Grotesk")
      format("svg");
}
@import url("http://fonts.cdnfonts.com/css/neue-haas-grotesk-text-pro");

body {
  background: #000;
  font-family: "Neue Haas Grotesk Text Pro";
  color: #fff;
  font-size: 15px;
}
a {
  color: #fff;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}



.aboutM-enter {
  opacity: 0.01;
  /* position:absolute; */
  /* transform: scale(0.9); */
}
.aboutM-enter-active {
  opacity: 1;
  /* transform: scale(1); */
  /* position:relative; */
  /* transform: translateX(0); */
  transition: all 800ms;
}
.aboutM-exit{
  opacity: 1;
  /* position: relative; */
  /* transform: scale(1); */
}
.aboutM-exit-active{
  opacity: 0.01;
  /* position:absolute; */
  /* transform: scale(0.9); */
  transition: all 800ms;
}

a:visited {
  color: #fff;
}
a:hover {
  color: #fff;
}


#button-prev {
  color: rgb(120,120,120);
  text-decoration: none;
}

#button-prev:hover {
  color: rgb(120,120,120);
  visibility:visible;
}

#button-next {
  color: rgb(120,120,120);

}
#button-next:hover {
  color: rgb(120,120,120);
  visibility:visible;
}

#button-about:hover {
  color: rgb(120,120,120);

}

/* @media only screen and (max-width: 600px) {
  #button-next {
    left: 8%;
  }
} */
