@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@font-face {
  font-family: "Aktiv Grotesk";
  src: url("//db.onlinewebfonts.com/t/a59a10fc173a405262ecba082980066e.eot");
  src: url("//db.onlinewebfonts.com/t/a59a10fc173a405262ecba082980066e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a59a10fc173a405262ecba082980066e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/a59a10fc173a405262ecba082980066e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/a59a10fc173a405262ecba082980066e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/a59a10fc173a405262ecba082980066e.svg#Aktiv Grotesk")
      format("svg");
}
@import url("http://fonts.cdnfonts.com/css/neue-haas-grotesk-text-pro");

body {
  background: #000;
  font-family: "Neue Haas Grotesk Text Pro";
  color: #fff;
  font-size: 16px;
}
a {
  color: #fff;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #fff;
}
a:hover {
  color: #a6a6a6;
}

#button-prev {
  color: #6a747c;
  position: absolute;
  height: 85%;
  left: 4%;
  --swiper-navigation-size: 15px;
}

#button-next {
  color: #6a747c;
  position: absolute;
  left: 6%;
  height: 85%;
  --swiper-navigation-size: 15px;
}

#button-about:hover {
  color: #6a747c;
}

@media only screen and (max-width: 600px) {
  #button-next {
    left: 8%;
  }
}
