@font-face {
  font-family: 'Neue Haas Grotesk Text Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Neue Haas Grotesk Text Pro'), url('https://fonts.cdnfonts.com/s/14415/NHaasGroteskTXPro-55Rg.woff') format('woff');
}
@font-face {
  font-family: 'Neue Haas Grotesk Text Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Neue Haas Grotesk Text Pro'), url('https://fonts.cdnfonts.com/s/14415/NHaasGroteskTXPro-56It.woff') format('woff');
}
@font-face {
  font-family: 'Neue Haas Grotesk Text Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Neue Haas Grotesk Text Pro'), url('https://fonts.cdnfonts.com/s/14415/NHaasGroteskTXPro-75Bd.woff') format('woff');
}
@font-face {
  font-family: 'Neue Haas Grotesk Text Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Neue Haas Grotesk Text Pro'), url('https://fonts.cdnfonts.com/s/14415/NHaasGroteskTXPro-76BdIt.woff') format('woff');
}


body {
  background: #000;
  font-family: "Neue Haas Grotesk Text Pro";
  color: #fff;
  font-size: 16px;
}
a {
  color: #fff;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.aboutM-enter {
  opacity: 0.01;
}
.aboutM-enter-active {
  opacity: 1;
  -webkit-timing-function: ease-in-out;
  -webkit-transition-duration: 800ms;
  transition: ease-in-out 800ms;
}
.aboutM-exit {
  opacity: 1;
}
.aboutM-exit-active {
  opacity: 0.01;
  -webkit-timing-function: ease-in-out;
  -webkit-transition-duration: 800ms;
  transition: ease-in-out 800ms;
}

a:visited {
  color: #fff;
}
a:hover {
  color: #fff;
}

#button-prev {
  color: rgb(120, 120, 120);
  text-decoration: none;
}

#button-prev:hover {
  color: rgb(120, 120, 120);
  visibility: visible;
}

#button-next {
  color: rgb(120, 120, 120);
}
#button-next:hover {
  color: rgb(120, 120, 120);
  visibility: visible;
}

#button-about:hover {
  color: rgb(120, 120, 120);
}

@media only screen and (max-width: 575px) {
  body {
    font-size: 16px;
  }
}